#container {
    justify-content: center
}
#top {
    display: flex; 
    flex-direction: column;
    opacity: 0.9; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
}
#topBar {
    border: solid 1px black; 
    width:90%; 
    padding:0; 
    border-radius: 10px;
}
#progress {
    font-weight: bold;
    font-size: 1.5rem; 
    border-radius: 10px; 
    width: 90%;
}
/*  */
#basicStats {
    display: flex; 
    justify-content: space-between;
    width: 85%;
    padding: 0.5em
}
#infoSection {
    margin-top: 6em;
}
#selector {
    background-color: white;
}
#buttonContainer {
    width: 8%; 
    display: flex; 
    flex-direction: column;
    padding: 0.5em;
}